.section-portfolio {
    background-color: var(--bg);
  }
  
  .section-portfolio p,
  .section-services p {
    max-width: 60rem;
  }
  
  .portfolio-images {
    gap: 3.2rem;
    margin-top: 6.4rem;
  }
  
  .img-ovelay {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-images img {
    width: 100%;
    height: 50%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
  }
  
  .img-ovelay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: -webkit-linear-gradient(
      0deg,
      rgb(132 144 255) 0%,
      rgb(98 189 252) 100%
    );
    opacity: 0;
    color: var(--third);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 7px;
    /* box-shadow: inset 0 0 0 0.5rem var(--helper-tint); */
  }
  
  .img-ovelay:hover > .overlay {
    opacity: 0.8;
    transform: translateY(0);
    cursor: pointer;
  }
  
  .img-ovelay .overlay .common-heading {
    margin: 0;
    color: var(--third);
    text-decoration: none;
  }
  